[submodule "scripts/res_ctrl"]
	path = scripts/res_ctrl
	url = https://github.com/dazui0019/res_ctrl.git
[submodule "scripts/yokogawa"]
	path = scripts/yokogawa
	url = https://github.com/dazui0019/yokogawa.git
[submodule "scripts/power_ctrl"]
	path = scripts/power_ctrl
	url = https://github.com/dazui0019/power_ctrl.git
